@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html {
    position: relative;
    min-height: 100%;
}


footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $secondary;
}

.main {
    margin-bottom: 775px;
}

.action-service-btn {
    display: flex;
    justify-content: space-around;
}

.bi-pencil-square,
.bi-trash3 {
    color: $primary;
    opacity: 1;

}

.SendContact {
    display: flex;
    justify-content: center;
}

/*
.habitats {
    display: flex;
    gap: 50px;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
}

*/

